{% extends "base.html" %}
{% load static %}
{% load tag_utils %}


{% block title %} SnackBar! {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block extrascript %} {% endblock %}

{% block breadcrumbs %}

{% endblock %}



{% block content %}

<h1> Home</h1>


<h3>Actions:</h3>
<ul>
    <li><a href="{% url 'kitchen_ingredient'%}">Ingredients (Owner)</a></li>
    <li><a href="{% url 'kitchen_create_snack' %}">Create your own Snack (Customer)</a></li>
</ul>

<h3>List of requested snacks</h3>

{% for snack in snacks %}
    <h4>{{ snack.name }}</h4>
    <ul>
        {% for ing in snack.productingredient_set.all%}
        <li>{{ing.amount}}x {{ ing.ingredient }}</li>
        {% endfor %}
    </ul>
    <p>Total: R${{snack.get_product_price}}</p>

{% empty %}
<p>- EMPTY -</p>
{% endfor %}

{% endblock %}
