{% extends "base.html" %}
{% load static %}
{% load tag_utils %}
{% load widget_tweaks %}


{% block title %} Ingredient! {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block extrascript %} {% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url 'Home' 'kitchen_index' 'Ingredient'%}
{% endblock %}


{% block content %}

<h1> Ingredients</h1>


<div class="col-md-9 col-lg-6" id="ingredient_form">
    <form action="#ingredient_form" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Register a new Ingredient</legend>
            {% if ingredient_saved %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Ingredient saved with Success. Check in the below list</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            {% for field in ingredient_form %}
            <div class="form-group row">
                {% if not field.errors%}
                <label class="form-control-label col-md-2">{{ field.label }}</label>
                {{ field|add_class:"form-control col-md-10" }}
                {% else %}
                <label class="form-control-label col-md-2 text-danger">{{ field.label }}</label>
                {{ field|add_class:"form-control col-md-10 is-invalid" }}
                {% for error in field.errors %}
                <span class="badge badge-danger"> {{ error }} </span>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>

<div class="row">
    <div class="col-md-9">
        <h3>List of Ingredients</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ingredient Name</th>
                <th scope="col">Price (R$)</th>
            </tr>
            </thead>
            <tbody>
            {% for ing in ingredients%}
            <tr>
                <th scope="row">{{ing.id}}</th>
                <td>{{ing.name}}</td>
                <td>R${{ing.price}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
