{% extends "base.html" %}
{% load static %}
{% load tag_utils %}
{% load widget_tweaks %}

{% block title %} {{ course_details.name }} {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block extrascript %} {% endblock %}

{% block breadcrumbs %}
{% with course_details.slug as slug%}
{% breadcrumb_url 'Home' 'home' 'Courses' 'courses' course_details.slug %}
{% endwith %}
{% endblock %}


{% block content %}

<div class="col-lg-12">
    <div class="card mt-4">
        {% if course_details.image %}
        <img class="card-img-top img-fluid mx-auto" src="/media/{{course_details.image}}" alt="{{course_details.slug}}">
        {% else %}
        <img class="card-img-top img-fluid mx-auto" src="{% static 'img/default_course.jpg' %}" alt="">
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{ course_details.name }}</h3>
            <h4>Start at {{ course_details.start_date|date:"d M Y"}}</h4>
            <span class="text-warning">★ ★ ★ ★ ☆</span> 4.0 stars
        </div>
    </div>

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Course Description
        </div>
        <div class="card-body">
            {{ course_details.description|safe|linebreaks }}
        </div>
    </div>

    <div class="col-md-9 col-lg-6" id="contact_form">
        <form action="#contact_form" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Send to us a message</legend>
                {% if contact_form_is_valid %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Thanks for your Contact!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% for field in contact_form %}
                <div class="form-group">
                    {% if not field.errors%}
                    <label class="form-control-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% else %}
                    <label class="form-control-label text-danger">{{ field.label }}</label>
                    {{ field|add_class:"form-control is-invalid" }}
                    {% for error in field.errors %}
                    <span class="badge badge-danger">
                                    {{ error }}
                                </span>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>

</div>


{% endblock %}
